fastapi
uvicorn[standard]
sqlmodel
psycopg[binary]
pydantic-settings
httpx
python-dotenv
langgraph
groq
bcrypt
python-jose[cryptography]
python-multipart
google-auth
alembic
sentry-sdk==2.66.1
slowapi
